/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************************************

                            MOBILE

***********************************************************/

*,
*:before,
*:after{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0 auto;
    padding: 0;
    font-family: avenir, helvetica, sans-serif;
    font-size: 16px;
    background-color: #F1EFF2;

}

.banner{
    width: 100%;
    height: auto;
}


.main-nav{
    text-align: center;
    background-color: rgba(233,202,202,0.2);

}

.main-nav ul li{
    padding: 15px;
}

.main-nav a,
.main-nav a:visited,
.main-nav a:link{
    color: black;
}


.main-nav li:hover,
.main-nav li:focus{
    background-color: rgba(213,182,182,0.3);
    color: white;
}

.main-nav li.active3 a{
    color: white;
}


.main-nav li.active3{
    background-color: #CA6161;
   
}

.main-nav-2{
    display: none;
}

/************************* Main Content **************************/



h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #CA6161;
    font-family: 'Passion One', cursive;
    font-size: 30px;
}

table{
    margin: 0 auto;
    border: 1px solid;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 30px;
}

th, td{
    border: 1px solid;
    padding: 10px 20px;
    text-align: center;
}

caption{
    color: #CA6161;
    font-family: 'Passion One', cursive;
    font-size: 25px;
    margin-bottom: 20px;
}

.order{
    width: 50px;
}

th{
    background: #FBC35F;
}

tfoot{
    background: #FBC35F;
}

input:focus,
textarea:focus{
    outline: none;
}

.order-form > div{
    margin: 20px;
    margin-left: 30px;
}

label{
    display: inline-block;
    width: 150px;
    margin-right: 100px;
    color: #CA6161;
    font-weight: bold;
}

input{
    margin-top: 10px;
    width: 345px;
    padding: 12px;
}

.country{
    margin-top: 10px;
    width: 345px;
    height: 40px;
}

textarea{
    margin-top: 10px;
    width: 345px;
    min-width: 345px;
    max-width: 345px;
    padding: 12px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}

.submit{
    text-align: center;
}

input[type="submit"]{
    display: inline-block;
    background: #CA6161;
    border-radius: 10px;
    color: white;
    font-family: 'Passion One', cursive;
    font-size: 25px;
    cursor: pointer;
}

input[type="submit"]:hover{
  background: #C65252;
}

/******************************************************************/

.section3 img{
    width: 40px;
    margin-top: 7px;
    margin-bottom: 5px;
    position: relative;
    
}

.section3{
    margin-top: 50px;
    background-color: #FBC35F;
    width: 100%;
    position: absolute;
    text-align: right;
    padding-right: 20px;
}

footer{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #CA6161;
    padding: 30px 20px 20px 20px;
    color: white
}

.contact-us{
    font-size: 30px;
    font-family: 'Passion One', cursive;
}

.sub-nav{
    text-align: right;
    margin-top: 32px;
}

.sub-nav-2{
    display: none;
}

.sub-nav a,
.sub-nav a:visited,
.sub-nav a:link{
    color: white;
}

.top-button{
    color: white;
    position: fixed;
    bottom: 193px;
    right: 30px;
    z-index: 999;
}

.top-button i:before{
    font-size: 1.5em;
}

.copyright{
    margin: 20px;
    background: #F1EFF2;
    text-align: center;
}


/******************************************************

                        DESKTOP

*******************************************************/


@media screen and (min-width: 640px){

    body{
        margin: 0 auto;
        padding: 0;
        font-family: avenir, helvetica, sans-serif;
        font-size: 20px;
        background-color: #F1EFF2;

    }

    .banner{
        width: 100%;
        height: auto;
    }
    
    .main-nav{
        display: none;
    }
    
    .main-nav-2{
        display: block;
        text-align: center;
        margin-left: 70px;
    }
    
    .main-nav-2 ul li{
        display: inline-block;
        padding-right: 90px;
        padding-bottom: 50px;
        font-size: 40px;
        font-style: italic;
    }
    

    .main-nav-2 a,
    .main-nav-2 a:visited,
    .main-nav-2 a:link{
        color: #F8A81B;
    }
    
    .main-nav-2 a:hover{
        color: #CA6161;
    }
    
    .main-nav-2 a.active3-2{
        color: #CA6161;
    }
    

    
    /************************* Main Content **************************/

    .main-content{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .order-form{
        margin-top: 70px;
    }
    
    label{
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    color: #CA6161;
    font-weight: bold;
}

    input{
    margin-top: 10px;
    width: 345px;
    padding: 12px;
    }
    
    h1{
        font-size: 50px;
    }
    
    caption{
        font-size: 30px;
    }
    
    textarea{
        vertical-align: middle;
        width: 345px;
        min-width: 345px;
        max-width: 345px;
        height: 120px;
        min-height: 120px;
        max-height: 120px;
    }
    .submit{
        margin-top: 30px;
    }
    
    /******************************************************************/

    


    .section3 img{
        width: 40px;
        margin-top: 7px;
        margin-bottom: 5px;
        position: relative;

    }

    .section3{
        background-color: #FBC35F;
        width: 100%;
        position: absolute;
        text-align: right;
        padding-right: 20px;
    }

    footer{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #CA6161;
        padding: 30px 20px 20px 20px;
        color: white
    }

    .contact-us{
        font-size: 30px;
        font-family: 'Passion One', cursive;
    }
    
    .sub-nav{ 
        display: none;
    }

    .sub-nav-2{
        display: inline-block;
        text-align: right;
        margin-top: 130px;
    }
    
    .sub-nav-2 ul li{
        display: inline-block;
    }

    .sub-nav-2 a,
    .sub-nav-2 a:visited,
    .sub-nav-2 a:link{
        color: white;
    }
    
    
      .top-button{
        color: white;
        position: fixed;
        bottom: 150px;
        right: 30px;
        z-index: 999;
    }

    .top-button i:before{
        font-size: 2.5em;
    }
    
}










